@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');

.bg-gray {
    background-color: #adb5bd !important;
}

.ff-catamaran {
    font-family: 'Catamaran', sans-serif;
}

.ff-maven {
    font-family: 'Maven Pro', sans-serif;
}

.ff-merryweather{
    font-family: 'Merriweather', serif;
}

.ff-poppins {
    font-family: 'Poppins', sans-serif;
}

.ff-source-code {
    font-family: 'Source Code Pro', monospace;
}
