@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');

.bg-gray {
    background-color: #adb5bd !important;
}

.ff-playfair {
    font-family: 'Playfair Display', serif;
}

.ff-catamaran {
    font-family: 'Catamaran', sans-serif;
}

.ripple-surface {
    max-width: 42px;
    max-height: 38px;
}